.user {
  display: flex;
  align-items: center;

  &:focus {
    background-color: #e2e8f0;
  }
  &__avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;

    margin: 0 20px;
    border: 1px solid #f2994a;

    &.online {
      border: 1px solid #27ae60;
    }
  }

  &__info {
    display: block;
    color: #4a5568;
    font-size: 12px;
    letter-spacing: 0.4px;
    line-height: 14px;

    &__name {
      color: #2d3748;
      font-size: 14px;
      letter-spacing: 0.25px;
      font-weight: normal;
      padding-bottom: 4px;
    }
  }
}

.container {
  &:hover {
    background-color: rgba(31, 159, 252, 0.05) !important;
  }
}

.MuiInput-underline {
  &:before {
    display: none;
  }

  &:after {
    display: none;
  }
}

.MuiSelect-select {
  &:focus {
    background-color: transparent !important;
  }

  &.MuiSelect-select {
    padding-right: 3em !important;
    font-size: 14px;
  }
}

.expand {
  display: flex;
  flex-direction: column;
  width: 100%;

  .row {
    padding: 1em 0 1em 2.5em;

    label {
      display: inline-block;
      min-width: 4em;
      margin-right: 1em;
    }
  }
}

.table-row {
  td {
    padding: 11px 0;
  }
}

.select-container {
  padding-right: 25px;
  display: inline-block;
}

.icon-expand {
}
.icon-edit {
  margin: 0 12px;
  opacity: 0.5;
}
tr:hover {
  .icon-edit {
    opacity: 1;
  }
}

.icon {
  color: #2d3748;
}
