.user {
  display: flex;
  align-items: center;

  &:focus {
    background-color: #e2e8f0;
  }
  &__avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;

    margin: 0 20px;
    border: 1px solid #f2994a;

    &.online {
      border: 1px solid #27ae60;
    }
  }

  &__info {
    display: block;
    color: #4a5568;
    font-size: 12px;
    letter-spacing: 0.4px;
    line-height: 14px;

    &__name {
      color: #2d3748;
      font-size: 14px;
      letter-spacing: 0.25px;
      font-weight: normal;
      padding-bottom: 4px;
    }
  }
}

.not-classified {
  color: rgba(45, 55, 72, 0.5);
}

.container {
  &:hover {
    background-color: rgba(31, 159, 252, 0.05) !important;
  }
}

.table-row {
  td {
    padding: 11px 0;
  }
}

.select-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.icon-expand {
  &.MuiSvgIcon-root {
    font-size: 20px;
  }
  margin: 0 20px;
}

.edit-colmn {
  .icon-expand {
    margin: 0 10px 0 5px;
  }
}

.icon-edit {
  margin: 0 12px;
  opacity: 0.5;
}
tr:hover {
  .icon-edit {
    opacity: 1;
  }
}

.icon {
  color: #2d3748;
}

.item-radio {
  padding: 5px 0;
  input[type="radio"] {
    margin-right: 1em;

    &:checked {
      color: rgb(2, 42, 96);
    }
  }
}

.expand {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: inset 0px 0px 10px #e2e8f0;

  .row {
    padding: 11.5px 0 11.5px 72px;
    color: #2d3748;
    display: flex;
    align-items: center;

    label {
      &.label {
        margin-right: 20px;
      }

      &.type {
        margin-right: 27px;
      }
    }
  }
}

// @keyframes lineInserted {
//   from {
//     height: 0;
//   }
//   to {
//     height: auto;
//   }
// }

// @keyframes lineInsertedOut {
//   from {
//     height: auto;
//   }
//   to {
//     height: 70px;
//   }
// }

.hide {
  display: none;
  opacity: 0;
  height: 0;
  overflow: hidden;
  // animation-name: lineInsertedOut;
  // animation-duration: 1s;
}

.active {
  display: block;
  opacity: 1;
  height: auto;
  // animation-name: lineInserted;
  // animation-duration: 0.5s;
}
