@import "../../variable.scss";

.table {
  width: 100%;
  border-collapse: collapse;

  td {
    border: 1px solid #e2e8f0;
    height: 68px;
  }

  thead {
    background: #edf2f7;
    font-size: 14px;
    font-weight: bold;
    td {
      text-align: right;
      color: #1a202c;
      padding-right: 66px;
      &:first-child {
        text-align: left;
        padding-left: 70px;
      }
    }
  }

  tr {
    &:hover {
      background: #edf2f7;
    }
  }
}

.no-data {
  padding: 1em;
  background-color: #edf2f7;
}

.scrollable-element {
  scrollbar-width: thin;
}
