@import "../../variable.scss";

.table {
  width: 100%;
  border-collapse: collapse;
  position: relative;
  height: 100%;

  td {
    border: 1px solid #e2e8f0;
    height: 68px;
  }

  thead {
    background: #edf2f7;
    font-size: 14px;
    font-weight: bold;
    td {
      text-align: right;
      color: #1a202c;
      padding-right: 66px;
      &:first-child {
        text-align: left;
        padding-left: 70px;
      }
    }
  }

  tr {
    &:hover {
      background: #edf2f7;
    }
  }
}

.no-data {
  padding: 1em;
  background-color: #edf2f7;
}

thead,
tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

tbody {
  table-layout: fixed;
  overflow-y: overlay;
  position: absolute;
  top: 68px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
