@import '../../../variable.scss';

.select {
  width: 100%;
  position: relative;

  .select-field {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 5;

    .text-field {
      width: 100%;
      border: 1px solid #82868e;
      border-radius: 4px;
      &:focus {
        outline: none;
      }
    }

    .icon {
      position: absolute;
      right: 0.5em;
      top: 0.15em;
      color: #82868e;
      cursor: pointer;
      border-radius: 50%;

      &:hover {
        background-color: rgba(#82868e, 0.1);
      }
    }
  }

  .options-list {
    position: absolute;
    background-color: #fff;
    z-index: 6;
    width: 100%;
    border-radius: 4px;
    font-size: 1.2em;
    box-shadow: 0 0 8px rgba(91, 91, 91, 0.24);
    @include scrollbar;
    ul {
      list-style: none;
      margin: unset;
      padding: 1em 0;

      max-height: 400px;
      overflow: auto;

      li {
        padding: 0.5em 1em;
      }

      .option-active {
        background-color: #f0f6fe;
      }
    }

    .no-options {
      padding: 0.5em 1em;
    }
  }
}

.select-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background-color: yellow;
}
