@import "../../../variable.scss";
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  z-index: 40;
  opacity: 0.5;
}

.modal-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;

  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  font-size: 16px;
}

.modal {
  z-index: 100;
  background: white;
  position: relative;

  border-radius: 4px;
  max-width: 500px;
  padding: 2em;
  min-width: 320px;

  @media only screen and (min-width: $mobile_bp) {
    min-width: 450px;
  }

  &__header {
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 1em;
    border-bottom: 1px solid #e2e8f0;
  }

  &__body {
    border-bottom: 1px solid #e2e8f0;
    padding: 1em 0;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    padding-top: 1em;

    .btn {
      text-transform: uppercase;
      font-weight: bold;
      background-color: transparent;
      padding: 10px;
      border: none;
      border-radius: 4px;
      margin-left: 10px;
      &:focus {
        outline: none;
      }

      &:hover {
        background-color: #ecf0f5;
      }

      &-save {
        background-color: rgb(2, 42, 96);
        color: #fff;

        &:hover {
          background-color: rgb(1, 37, 85);
        }
      }
    }
  }
}
