@import "../../variable.scss";

.filter {
  display: flex;
  height: 100%;
  white-space: wrap;
  max-width: 100%;
  justify-content: start;
  align-items: center;
  color: #2d3748;
  letter-spacing: 0.4px;
  font-size: 12px;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex: 0 0 auto;
    margin-right: 16px;
    border: 1px solid #a0aec0;
    padding: 1px 2px 1px 12px;
    border-radius: 64px;
    background-color: #cbd5e0;
    font-weight: normal;
    position: relative;
    // top: 4px;
  }
}

.scrollable-x {
  display: flex;
  overflow-x: overlay;
  height: 58px;
}

.icon-remove {
  &.MuiSvgIcon-root {
    font-size: 24px;
    margin-left: 16px;
  }
}

.clickable {
  cursor: pointer;
}

.icon-clear {
  padding: 6px;
  border-radius: 50%;
  background-color: #545f6e;
  border: 2px solid #a0aec0;
  width: 28px;
  height: 28px;
  margin: 0 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 16px;
    height: 16px;
  }
}

// @media only screen and (min-width: $mobile-bp) {
// }
