@import "../../variable.scss";

.search-box {
  border: 1px solid #e2e8f0;
  border-radius: 4px;
  width: 500px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 20px;
  position: relative;

  &__p1 {
    display: flex;
    align-items: center;
  }

  &__p2 {
    padding-right: 1em;
  }

  .icon {
    color: #82868e;
    cursor: pointer;
    border-radius: 50%;

    &:hover {
      background-color: rgba(#82868e, 0.1);
    }
  }
  .icon-search {
    margin: 0 20px;
  }

  .icon-clear-input {
    margin: 0 0.25em;
  }

  input {
    flex: 0 0 350px;
    letter-spacing: 0.25px;
    border: none;

    &::placeholder {
      color: #a0aec0;
    }

    &:focus {
      outline: none;

      &::placeholder {
        color: #2d3748;
      }
    }
  }
}

.form {
  position: fixed;
  background-color: #fff;
  width: 500px;
  top: 5em;
  left: 2.5em;
  z-index: 5;
  font-size: 14px;

  display: flex;
  flex-direction: column;
  padding: 1.5em;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(91, 91, 91, 0.24);

  .icon-back {
    display: none;
    visibility: hidden;
  }

  .MuiTextField-root {
    border: 1px solid #82868e;
    padding: 0 1em;
    margin: 0.5em 0;
    border-radius: 4px;
    .MuiInputBase-input {
      font-size: 14px;
    }
  }

  .btn {
    border: none;
    padding: 1em 0;
    margin-top: 0.5em;
    background-color: rgb(2, 42, 96);
    border-radius: 4px;
    color: #fff;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

@media only screen and (max-width: $mobile-bp) {
  .search-box {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    justify-content: center;
    margin: 1em 1.5em;

    &:hover {
      background-color: rgba(#82868e, 0.1);
    }

    .icon-search {
      position: relative;
      margin: 0 0;
      top: 3px;
      &:hover {
        background-color: transparent;
      }
    }
  }

  .form {
    top: 0 !important;
    left: 0 !important;
    right: 0;
    bottom: 0;
    width: 100%;

    .icon-back {
      display: inline-block;
      visibility: visible;
    }
  }
}
