$mobile_bp: 576px;

@mixin scrollbar {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #dadfe5;
    width: 200px;
    border-radius: 100px;
  }

  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}
